# Maven
**/target/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# IDEs
.idea/
*.iml
.vscode/
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

# Optional
.env
*.tmp

# Spring Boot helper
HELP.md